<p id="notice"><%= notice %></p>
<h1>Order</h1>
<table class="table">
  <thead>
    <tr>
      <th>Status</th>
      <th>Customer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= @order.status %></td>
      <td><%= @order.customer.try(:name) %></td>
      <td><%= link_to 'Edit', edit_order_path(@order) %></td>
      <td><%= link_to 'Destroy', @order, method: :delete, data: { confirm: 'Forbidden' } %></td>
    </tr>
  </tbody>
</table>
<h3>Products</h3>
<table class="table">
  <thead>
    <tr>
      <th>Product</th>
      <th>Price</th>
    </tr>
  </thead>

  <tbody>
    <% @order.products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.price %></td>
      </tr>
    <% end %>
    <tr>
      <td><strong>Total</strong></td>
      <td><%= @order.products.map(&:price).sum %></td>
    </tr>
  </tbody>
</table>
